<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ stylesheet }}">
</head>
<body>

  <header id="site-header">
    <div id="header-inner">
      <a id="site-logo" href="{{ docs_root }}">CypherDocs</a>

      <nav id="site-nav" aria-label="Primary navigation">
        <a href="{{ home }}">Home</a>
        <a href="{{ project }}">CypherGate</a>
      </nav>
    </div>
  </header>

  <div class="docs-layout">

    <aside class="docs-sidebar">
      <details>
        <summary class="mobile-control"><i data-lucide="book-open"></i> Documentation</summary>

        <div class="nav-content">
          <h2>CypherGate</h2>
{{ sidebar }}
        </div>
      </details>
    </aside>

    <main>
{{ content }}
    </main>

    <aside class="docs-toc">
      <details>
        <summary class="mobile-control"><i data-lucide="list"></i> On this page</summary>

        <div class="nav-content">
          <h2>On this page</h2>
{{ toc }}
        </div>
      </details>
    </aside>

  </div>

    <script src="https://unpkg.com/lucide@latest"></script>
  <script src="{{ script }}" defer></script>
</body>
</html>
